/*.circle {
    width: 100px;
	height: 100px;
	background-color: lightgrey;
	border-radius: 50%;
}

.square {
    width: 100px;
	height: 100px;
    border-radius: 20%;
	background: lightgrey;
}

.line {
    width: 500px;
	height: 20px;
    border-radius: 15px;
	background: lightgrey;
}

.rectangle {
     width: 200px;
	height: 100px;
    border-radius: 25px;
	background: lightgrey;
}*/

.pr-user {
   display: flex;
	align-items: center;
	justify-content: flex-end;
}

.pr-feature {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.pr-feature-group {
    display: flex;
	flex-direction: row;
	justify-content:space-around;
}

.pr-circle-container {
    margin-right: 20px;
}


.pr-circle {
	width: 100px;
	height: 100px;
	background-color: lightgrey;
	border-radius: 50%;
    margin-bottom: 20px;
}

.pr-lines-container{

}

.pr-line {
    width: 300px;
	height: 20px;
    border-radius: 15px;
	background: lightgrey;
}

.pr-line:last-child {
   width: 230px;
}

.pr-nav-h {
     display: flex;
    justify-content: space-between;
}

.pr-list-item-h {
     display: flex;
	align-items: center;
	justify-content:center;
}
.pr-list-item-v {
     display: flex;
	align-items: center;
	justify-content: flex-end;
}

.pr-circle-nav {
    width: 30px;
	height: 30px;
	background-color: lightgrey;
	border-radius: 50%;
    margin-right: 15px;
}

.pr-post {
     background-color: lemonchiffon;
    width: 700px;
    height: 500px;
}

.pr-post-header {
     display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

}
.pr-post-content {
    padding-bottom: 300px;
}
.pr-post-content .pr-line {
    width: 650px;
	height: 20px;
    border-radius: 15px;
	background: lightgrey;
}
.pr-central-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.pr-user-nav-v-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
